@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.home-main{
  background-color: #d5cbfb;
}

.home-right{
  background-image: url(../public/images/Ellipse\ 35.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.search-bar, .course-box{
  box-shadow: rgba(82, 81, 81, 0.35) 0px 5px 15px;
}

.hero{
  background-image: linear-gradient(to right, #8b51e9, #af8be9);
}

.sidebar{
  background-image: linear-gradient(to bottom, #8b51e9, #af8be9);
}

#cap{
  margin-right: -7em;
}

#bag{
  margin-left: -5em;
  margin-top: 4em;
}

.course{
  width: 45%;
  align-items: center;
}

.profile-header{
  width: 30%;
}